#App-container {
    height: 200vh;
    display: flex;
    flex-direction: column;
}

#App-header {
    height: 75vh;
    background: pink;
}

#App-map-frame {
    height: 100vh;
    background: blue;
}

#App-footer {
    height: 25vh;
    background: #292929;
}
